{% extends 'core/base.html' %}

{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-fluid" id="home-content-area">
        <div class="container" id="home-content-container">

            
            
            {% for colection in colections %}
            {% load colections_extras %}
            {% is_pair forloop.counter as colection_pair %}
            {% if colection_pair == False %}
            <div class="row">                
            <div class="column col-md-5 col-sm-12 col-xs-12 col-md-push-7">
                    <div class="home-content-writing-area-left">
                        <div class="home-content-writing-left-top">{{colection.title}}</div>
                        <div class="home-content-writing-left-mid">{{colection.content}}</div>
                        <!--<div class="home-content-writing-left-low"><a href="{% url 'colections:singlecolection' colection.id colection.title|slugify %}" title="DESCUBRIR">DESCUBRIR <img src="{% static 'core/images/home-contentdetails.png' %}" alt="DESCUBRIR Arrow"/></a></div>-->
                    </div>
                </div>
                <div class="column col-md-7 col-sm-12 col-xs-12 col-md-pull-5">
                    
                    <div class="home-content-pic-area-right"><a href="{% url 'colections:singlecolection' colection.id colection.title|slugify %}"><img  src="{{colection.image.url}}" alt="Collection Picture"/></a></div>
                </div>
<!--
                <div class="column col-md-12 col-sm-12 col-xs-12">
                    <div class="home-content-number-area-left"><b>{{forloop.counter}}.</b></div>
                    <div class="home-content-line" id="homecl-{{forloop.counter}}"></div>
                </div>-->
            </div>
            {% endif %}
            {% if colection_pair == True %}
            <div class="row">
                <div class="column col-md-5 col-sm-12 col-xs-12">
                    <div class="home-content-writing-area-right">
                        <div class="home-content-writing-right-top">{{colection.title}}</div>
                        <div class="home-content-writing-right-mid">{{colection.content}}</div>
                        <!--<div class="home-content-writing-right-low"><a href="{% url 'colections:singlecolection' colection.id colection.title|slugify %}" title="DESCUBRIR">DESCUBRIR <img src="{% static 'core/images/home-contentdetails.png' %}" alt="DESCUBRIR Arrow"/></a></div>
                    --></div>
                </div>
                <div class="column col-md-7 col-sm-12 col-xs-12">
                    <div class="home-content-pic-area-left"><a href="{% url 'colections:singlecolection' colection.id colection.title|slugify %}"><img  src="{{colection.image.url}}" alt="Collection Picture"/></div></a>
                </div>                

                <!--
                <div class="column col-md-12 col-sm-12 col-xs-12">
                    <div class="home-content-number-area-right"><b>{{forloop.counter}}.</b></div>
                    <div class="home-content-line" id="homecl-{{forloop.counter}}"></div>
                </div>-->
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    	    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:800px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->

        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1200px;height:800px;overflow:hidden;">
            {% for client in clients %}
            <div class="et_pb_slide_description" data-p="170" >
                <a href="{% url 'clients:singleclient' client.id client.title|slugify %}"> <img data-u="image" src="{{client.image.url}}"/>
                </a>
                
                
            </div>
            {% endfor %}

        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb052" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora053" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora053" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
{% endblock %}
{% block scripts %}


<script type="text/javascript" src="{% static 'core/js/furkanberkerA-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/index.js' %}"></script>


<script type="text/javascript" src="{% static 'core/js/parallax.js' %}"></script>

<script type="text/javascript">
    var sliderimagesX = [{% for imagen in carrusel %}"{{imagen.image.url}}",{% endfor %}];
    $(document).ready(function () {
        //this array contains paths for your images that will be used at showcase, you can name it anything, just make sure it is called correctly inside function below

        //variables:(images array that has your images , animation time as ms , animationtype - current animation types are (slide,slideY,opac) , time between auto slideshow as ms - 0 for no auto animation)
        runfurkanberkerAslider('mysliderX', sliderimagesX, 1000, 'slide', 9000);
        //slidepoint: you can also call selected slides by naming them "'yourslidername'slidepoint-'numberofslide'" like "mysliderXslidepoint-1" "mysliderXslidepoint-2" vs... When you click on these elements, selected numbered slide will open
    });

    function showcase(side) {
        if (side == 1) {
            furkanberkerAsliderSlideShowNext('mysliderX', sliderimagesX, 1000, "next");
        }
        if (side == 0) {
            furkanberkerAsliderSlideShowNext('mysliderX', sliderimagesX, 1000, "prev");
        }
    }
</script>

{% endblock %}