{% extends 'core/base.html' %}

{% load static %}
{% block title %}{{colection.title}}{% endblock %}

{% block content %}
{% include 'colections/includes/colections_bar.html' %}

<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 1px;
  float: left;
  width: 33.3333%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 33.3333%;
    margin: 1px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 33%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>



       <div class="container-fluid" id="content-collectiondetails-area">
        <!--<div class="content-collectiondetails-backwriting-topleft">FOR</div>-->
        <!--<div class="content-collectiondetails-backwriting-topright">WOMEN</div>-->
        <div class="container">

        {% for foto in colection.images.all %}
        <div class="responsive">
            <div class="gallery">
            <a target="_blank" href={{foto.image.url}} class="fancybox" data-fancybox-group="group" title="Gallery">
            <img src={{foto.image.url}} alt="Cinque Terre" width="600" height="400">
            </a>
            </div>
        </div>
            {% endfor %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="column col-md-12 col-sm-12 col-xs-12">
                    <div class="content-go-top">
                        <a href="#content-bg-area"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'core/js/collections.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.fancybox-buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.fancybox-media.js' %}"></script>
<script src="https://use.typekit.net/vqp8msz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
{% endblock %}